body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  background-color: #8FBC8F;
  justify-content:center;
  display:flexbox;
  text-align: center;
}


.form-control {
  background-color:#fcfcfc8f;
}

#abc {
  position: flex;
  left:47%;
}

h1 {
  margin-left:20px;
}

h2 {
  margin-top: 150px;
  margin-left: 40px;
}

#efg {
  position:flex;
}